.text_title{
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #0D0D0D;
    &_advantages{
        margin-top: 35px;
    }
    &__catalog{
        margin-top: 15px;
        font-size: 16px;
    }
    &__reviews{
        margin: 0;
        padding: 0;
        text-align: left;
    }
}