* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MuseoModerno';
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

@import "src/scss/base/_mixins.scss";
@import "src/scss/base/_variable.scss";
@import "src/scss/blocks/_promo.scss";
@import "src/scss/blocks/_header.scss";
@import "src/scss/blocks/_advantages.scss";
@import "src/scss/blocks/_consultation.scss";
@import "src/scss/blocks/_forms.scss";
@import "src/scss/blocks/_carousel.scss";
@import "src/scss/blocks/_catalog";
@import "src/scss/blocks/_reviews";
@import "src/scss/blocks/_footer";